<template>
  <f7-page
    :page-content="false"
    v-if="storage.device === 'xs'"
  >

    <f7-tabs animated>
      <f7-tab id="tab-1" class="page-content" tab-active>
        <tab-1></tab-1>
      </f7-tab>
      <f7-tab id="tab-2" class="page-content">
        <tab-2></tab-2>
      </f7-tab>
      <f7-tab id="tab-3" class="page-content">
        <tab-3></tab-3>
      </f7-tab>
      <f7-tab id="tab-4" class="page-content">
        <tab-4></tab-4>
      </f7-tab>
    </f7-tabs>

    <f7-toolbar tabbar labels :position="'bottom'">
      <f7-link tab-link="#tab-1" tab-link-active text="Destacado" icon-ios="f7:star_circle" icon-aurora="f7:star_circle" icon-md="material:stars"></f7-link>
      <f7-link tab-link="#tab-2" text="Buscar" icon-ios="f7:search" icon-aurora="f7:search" icon-md="material:search"></f7-link>
      <f7-link tab-link="#tab-3" text="Mis Cursos" icon-ios="f7:play_rectangle" icon-aurora="f7:play_rectangle" icon-md="material:play_circle_outline"></f7-link>
      <f7-link tab-link="#tab-4" text="Cuenta" icon-ios="f7:person_crop_circle_fill" icon-aurora="f7:person_crop_circle_fill" icon-md="material:account_circle"></f7-link>
    </f7-toolbar>
  </f7-page>
</template>

<script>
const Tab1 = () => import('@/pages/sm/home-tabs/tab-1.vue')
const Tab2 = () => import('@/pages/sm/home-tabs/tab-2.vue')
const Tab3 = () => import('@/pages/sm/home-tabs/tab-3.vue')
const Tab4 = () => import('@/pages/sm/home-tabs/tab-4.vue')
import { f7Toolbar } from 'framework7-vue';

export default {
  components: {
    Tab1,
    Tab2,
    Tab3,
    Tab4
  },
  created () {
    var notificationFull = this.$f7.notification.create({
      icon: '<i class="icon demo-icon">7</i>',
      title: 'Framework7',
      titleRightText: 'now',
      subtitle: 'This is a subtitle',
      text: 'This is a simple notification message',
      closeTimeout: 3000
    })

    // notificationFull.open()
  }
}
</script>
