<template>
  <f7-page>
    <div class="hero-image">
      <div class="version">
        v {{ $f7.version }}
      </div>
    </div>

    <f7-list class="custom-list m-t-0">
      <f7-list class="m-b-0 m-t-0" accordion-list>
        <f7-list-item accordion-item title="Administración">
          <f7-accordion-content>
            <f7-list>
              <f7-list-item class="m-l-15" title="Usuarios"></f7-list-item>
              <f7-list-item class="m-l-15" title="Cursos"></f7-list-item>
              <f7-list-item class="m-l-15" title="Reportes"></f7-list-item>
              <f7-list-item class="m-l-15" title="Configuración"></f7-list-item>
            </f7-list>
          </f7-accordion-content>
        </f7-list-item>
      </f7-list>
      <f7-list-item link="/cuenta/" title="Mi Cuenta" view="#main-view" :no-chevron="true" panel-close></f7-list-item>
      <f7-list-item link="/cursos/" title="Mis Cursos" view="#main-view" :no-chevron="true" panel-close></f7-list-item>
      <f7-list-button title="Cerrar Sesión" @click="cerrarSesion()" view="#main-view" :no-chevron="true" panel-close></f7-list-button>
    </f7-list>
    <f7-block class="text-center fs-12">
      <f7-row>
        <f7-col class="text-center">
          <!-- <img src="static/img/logo_250.png" alt="" width="50"> -->
        </f7-col>
      </f7-row>
    </f7-block>
  </f7-page>
</template>

<script>
import { AuthStore } from '@/mixins/auth'

export default {
  mixins: [
    AuthStore
  ]
}
</script>

<style>
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/img/video-learning.jpg");
  height: 25%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  position: relative;
}

.hero-text {
  color: white;
  left: 45%;
  position: absolute;
  text-align: center;
  top: 30px;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 255px;
}

.list ul:after {
  height: 0px !important;
}

.version {
  bottom: 10px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  z-index: 99;
}
</style>
