<template>
  <f7-page :page-content="true">
    <home-sm />
    <!-- <f7-card class="elevation-0" style="max-width: 414px; margin: 0 auto;">
    </f7-card> -->
  </f7-page>
</template>

<script>
const HomeSm = () => import('@/pages/sm/home.vue')

export default {
  components: {
    HomeSm
  }
}
</script>
