<template>
  <f7-login-screen class="demo-login-screen" :opened="abrir" @loginscreen:closed="abrir = false">
    <f7-page login-screen>
      <f7-login-screen-title>LMS</f7-login-screen-title>
      <f7-block>
        <f7-col class="text-center">
          <img class="w-150 border-radius-50 avatar" src="https://pbs.twimg.com/profile_images/1785332950/399524_10150480100541814_682461813_9399151_663164893_n_400x400.jpg" alt="">
        </f7-col>
      </f7-block>
      <f7-list form>
        <f7-list-input
          label="Usuario"
          type="text"
          placeholder="Usuario"
          :value="usuario"
          @input="usuario = $event.target.value"
        ></f7-list-input>
        <f7-list-input
          label="Contraseña"
          type="password"
          placeholder="Contraseña"
          :value="clave"
          @input="clave = $event.target.value"
        ></f7-list-input>
      </f7-list>
      <f7-list>
        <f7-list>
          <f7-button @click="iniciarSesion()" :class="{ disabled: estatus === 'INICIANDO_SESION' }">Iniciar Sesión</f7-button>
        </f7-list>
        <!-- <f7-block-footer>Aviso de Privacidad.</f7-block-footer> -->
      </f7-list>
    </f7-page>
  </f7-login-screen>
</template>

<script>
import { AuthStore } from '@/mixins/auth'

export default {
  props: [
    'abrir'
  ],
  mixins: [
    AuthStore
  ],
  data () {
    return {
      usuario: '',
      clave: ''
    }
  }
}
</script>

<style scoped>
.avatar {
  border: 5px solid rgb(96, 125, 139);
}
</style>
