<template>
  <f7-list>
    <f7-list-item
      title="Dynamic (Component) Route"
      link="/dynamic-route/blog/45/post/125/?foo=bar#about"
    ></f7-list-item>
    <f7-list-item
      title="Default Route (404)"
      link="/load-something-that-doesnt-exist/"
    ></f7-list-item>
    <f7-list-item
      title="Request Data - Load"
      link="/request-and-load/user/123456/"
    ></f7-list-item>
  </f7-list>
</template>
