<template>
  <f7-app :params="f7params" >

    <f7-appbar class="bg-madai">
      <div class="left">
        <f7-button small panel-toggle="left" class="display-flex m-r-10" icon-f7="bars"></f7-button>
        <f7-link href="/">
          <!-- <img src="static/img/logo.svg" alt="" height="25"> -->
        </f7-link>
      </div>
      <div class="right m-r-00">
        
      </div>
    </f7-appbar>

    <!-- Left panel with cover effect-->
    <f7-panel class="w-320" left cover>
      <f7-view url="/menu-lateral/"></f7-view>
    </f7-panel>

    <!-- Right panel with reveal effect-->
    <f7-panel right reveal theme-dark>
      <f7-view>
        <f7-page>
          <f7-navbar title="Right Panel"></f7-navbar>
          <f7-block>Right panel content goes here</f7-block>
        </f7-page>
      </f7-view>
    </f7-panel>

    <!-- Your main view, should have "view-main" class -->
    <f7-view main class="safe-areas" url="/" :push-state="true"></f7-view>

    <!-- Login componente -->
    <login-component :abrir="storage.key === ''"></login-component>
  </f7-app>
</template>

<script>
import loginComponent from './pages/login'
import { storage } from './utils/init'
import routes from './routes.js'
import { AuthStore } from '@/mixins/auth'

export default {
  mixins: [
    AuthStore
  ],
  components: {
    loginComponent
  },
  data () {
    return {
      f7params: {
        id: storage.id,
        name: 'app',
        theme: this.$app.theme(),
        version: require('../package.json').version,
        routes: routes,
        on: {
          init: () => {
            console.log ('App initialized')
            this.storage.device = this.$app.device()
          },
          resize: () => {
            this.storage.device = this.$app.device()
          }
        }
      }
    }
  },
  watch: {
    'storage.device' (cur, prev) {
      /**
       * Actualiza la página cuando el tamaño de la ventana cambia entre sm, md, lg.
       * De esta manera se actualizan la rutas y se cargan las páginas con el tamaño
       * correcto de diseño
       */
      this.$app.theme()
      if (cur !== prev && prev !== '') {
        location.reload()
        // this.$f7.dialog.preloader('Cargando assets...')
        // setTimeout(() => {
        // }, 250)
      }
    },
    estatus (val) {
      /**
       * Se valida el estatus de la sesión y se resetea la apikey de storage.key según
       * sea conveniente, storage.key es la que se toma en cuenta para mostrar u ocultar
       * la ventana de inicio de sesión
       */
      if (val === 'AUTENTICADO') {
        this.storage.key = this.key
      } else if(val === 'SESION_FINALIZADA') {
        this.storage.key = ''
      }
    }
  },
  methods: {
    init () {
      /**
       * Se elimina localstorage y se reinicializa, esto sucede solo cuando hay cambio de versión
       */
      if (this.f7params.id !== this.storage.id || this.storage.version !== this.$f7.version) {
        localStorage.clear()
        this.storage = Object.assign(this.storage, storage, { version: this.$f7.version })
      }
    },
    alertLoginData () {
      this.$f7.dialog.alert('Username: ' + this.username + '<br>Password: ' + this.password)
    }
  },
  mounted () {
    this.$f7ready(async (f7) => {
      // Call F7 APIs here
      this.init()
    })
  }
}
</script>
